* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(233, 47%, 7%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  /* font-family: 'Lexend Deca', sans-serif; */
}

.statistics {
  margin: 1rem;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  overflow: hidden;
}

.main-img {
  max-width: 100%;
  display: block;
}

.content {
  padding: 2rem 2.5rem;
  text-align: center;
  display: grid;
  gap: 1rem;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
}

.title-highlight {
  color: hsl(277, 64%, 61%);
}

.description {
  line-height: 1.6;
}

.stats__item {
  margin: 1rem 0;
}

.stats__numbers {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
}

.stats__title {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 6px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
